/*plantilla de estilos basica*/
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --dark-grey: #7a7a7a;
    --soft-grey: #e3e3e3;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    color: var(--dark-grey);
    font-weight: 400;
    background-color: #f7f7f7;
    overflow: overlay;
    padding-right: 1em;
}

.hidden {
    display: none;
}

.mastercraft {
    width: 100%;
    position: absolute;
    top: -12%;
    left: 0;
}

p {
    line-height: 1.8em;
    padding-top: 0.5em;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    padding: 0.5em;
}

h2 {
    color: black;
    font-weight: 700;
    padding: 0.5em 0 1em 0;
}

h3 {
    color: black;
    font-size: 2em;
    font-weight: 700;
}

.wrapper:nth-child(3) {
    text-align: left;
}

.hidden {
    display: none !important;
}

.metrics {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0 3.5em;
    align-items: center;
}

.datos {
    padding: 1.2em 1.5em;
}

.grey-line {
    border-bottom: 1px solid var(--soft-grey);
    width: 50%;
}

.datos p {
    font-size: 0.9em;
}

.status-bar {
    border-radius: 50px;
    background: var(--soft-grey);
    width: 100%;
    height: 0.7em;
    margin-bottom: 1em;
}

.cyan-bar {
    border-radius: 50px;
    background: var(--cyan);
    width: 85%;
    height: 0.7em;
}

.btn {
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: -moz-fit-content;
    width: fit-content;
}

.buttons-bottom {
    display: flex;
    margin: 1.8em 0;
    justify-content: space-evenly;
}

.primary-btn {
    background-color: var(--cyan);
    font-weight: 700;
    padding: 1.3em 2.3em;
    border-radius: 50px;
    font-size: 1em;
}

.primary-btn:hover {
    background-color: var(--dark-cyan);
}

#bookmark {
    display: flex;
}

.bookmark-icon {
    width: 60px;
    /* height: 60px; */
    background: url(images/icon-bookmark.svg) no-repeat center;
}

.bookmark-text {
    display: none;
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(images/image-hero-mobile.jpg) no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    height: 345px;
}

#container {
    width: 90%;
    position: absolute;
    padding: 0.5em;
    left: 5%;
    top: 50%;
}

.about {
    margin-bottom: 2em;
}

.wrapper {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid var(--soft-grey);
    padding: 1.3em;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
}

.wrapper.card {
    border: 1px solid var(--soft-grey);
    text-align: left;
    display: flex;
    flex-direction: column;
}

.wrapper.card h4,
.pledge-card h4 {
    color: black;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.wrapper.card a,
.pledge-card a {
    color: var(--cyan);
    font-weight: 500;
    margin-bottom: 1em;
}

.wrapper.card span,
.rew-pledge-m span,
.rew-pledge-m span {
    font-size: 2em;
    color: black;
    font-weight: 700;
    margin-right: 0.5em;
}

.bottom-wrapper {
    display: flex;
    margin: 1.2em 0;
    flex-direction: column;
}

.wrapper-head {
    display: flex;
    flex-direction: column;
}

.reward {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
}

nav.menu {
    z-index: 3;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2em 1em;
}

/*
.logo {
    padding: 0.5em 0.2em;
}*/
/*menu para moviles start*/
.menu {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.bar-menu {
    background: url(/images/icon-hamburger.svg) no-repeat center;
    width: 1em;
}

.close-menu {
    background: url(/images/icon-close-menu.svg) no-repeat center;
}

.menu-box {
    /* border: 1px solid red; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    height: 600px;
    z-index: 2;
    position: absolute;
    width: 100%;
    padding: 6em 2.5em;
    top: 0;
    display: none;
    transition: 1s;
}

.open {
    display: block !important;
}

.menu-vertical {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    padding: 0 0.8em;
    border-radius: 10px;
    position: fixed;
    width: 80%;
}

.menu-vertical a {
    padding: 1.2em 0.5em;
    color: black;
    border-bottom: 1px solid var(--soft-grey);
    font-size: 5vw;
    font-weight: 500;
}

.menu-vertical a:last-child {
    border-bottom: none;
}

/*menu mobile end*/
.menu-horizontal {
    display: none;
}

.menu-horizontal a {
    padding: 0.5em 1.2em;
}

/* ----------MODAL-------------- */
.modal-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    transition: all 0.5ms ease-in-out;
}

.modal {
    width: 90%;
    text-align: left;

    position: absolute;
    top: 2em;

}

.modal-content {

    display: grid;
    gap: 2em;
    height: 80%;
    margin: 1.2em auto;
    padding: 0.5em;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}

.modal-close {
    background: url(/images/icon-close-modal.svg) no-repeat center;
    width: 1em;
    height: 1em;
    cursor: pointer;
}

.pledge-card {
    position: relative;
    border-radius: 1em;

    border: 1px solid var(--soft-grey);
    text-align: left;
    display: grid;
    /* grid-template-columns: 5% 95%; */
    gap: 1em;

}

.pledge-card .card-content {
    padding: 1.5em;
}

.pledge-head {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

label {
    cursor: pointer;
}

.pledge-title {
    display: flex;
    flex-direction: column;
}

.rew-pledge-d {
    display: none;
}

.rew-pledge-m {
    margin-top: 1em;
}

.rew-pledge-m span {
    font-size: 1.5em;
}

.pledge-radio {
    position: relative;

}

.radio:checked+.radio-select {
    background: red;
}

.radio {
    visibility: hidden;
}

.radio-select {
    width: 1.2em;
    height: 1.2em;
    border-radius: 20px;
    border: 1px solid red;
    left: 0;
    position: absolute;
}

.enter-pledge {
    display: flex;
    border-top: 1px solid var(--soft-grey);
    padding: 1.5em;
    align-items: center;
    flex-direction: column;

}

.mount {
    border-radius: 50px;
    border: 1px solid var(--soft-grey);
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0.5em 1.2em;
    gap: 0.5em;
}

.input-mount {
    width: 3em;
    line-height: 2.5em;
    border: none;
    color: black;
    font-weight: 700;
    font-size: 1.1em;
}

input::placeholder {
    color: black;
}

.pledge-mount {
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    margin-top: 1.2em;
}


.select-pledge {
    width: 3em;
}

@media screen and (min-width: 1024px) {
    header {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(images/image-hero-desktop.jpg) no-repeat;
        background-position: center;
        position: relative;
        background-size: cover;
        height: 400px;
    }

    nav.menu {
        z-index: 2;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 2.5em 6em 2em 6em;
    }

    .menu-horizontal {
        display: block;
    }

    .menu-vertical {
        display: none;
    }

    .menu-horizontal a {
        color: #fff;
    }

    .bar-menu {
        display: none;
    }

    #container {
        width: 60%;
        left: 20%;
        top: 45%;
    }
}

@media screen and (min-width: 768px) {
    #container {
        top: 38%;
    }

    /* .mastercraft {
        right: 43%;
    } */
    .wrapper {
        padding: 1.3em 2.5em;
    }

    .bottom-wrapper {
        justify-content: space-between;
        flex-direction: row;
    }

    .wrapper.card {
        padding: 2em 2em 0.5em 2em;
    }

    .wrapper-head {
        justify-content: space-between;
        flex-direction: row;
    }

    .metrics {
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        justify-content: left;
    }

    .datos {
        padding: 1.2em 0.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0.5em 3em 0.5em 1.2em;
    }

    .grey-line {
        /* height: auto; */
        width: 0px;
        padding: 2.5em 0em;
        border-bottom: none;
        border-left: 1px solid var(--soft-grey);
    }

    .buttons-bottom {
        justify-content: space-between;
        padding: 0em 1.5em;
    }

    .bookmark-text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        font-weight: 700;
    }

    #bookmark {
        background: var(--soft-grey);
        border-radius: 50px;
    }
}