* {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    color: hsl(0, 0%, 48%);
    font-weight: 400;
}

h1 {
    color: black;
    font-weight: 700;
}

h2 {
    color: black;
    font-weight: 500;
}

button {
    padding: 10px 24px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    border: none;
}

.primary-btn {
    background-color: hsl(176, 50%, 47%);
}

button:hover {
    background-color: hsl(176, 72%, 28%);
}