* {
    font-size: 16px;
    font-family: 'Commissioner', sans-serif;
    color: hsl(0, 0%, 48%);
    font-weight: 400;
}

h1 {
    color: black;
    font-weight: 700;
}

h2 {
    color: black;
    font-weight: 500;
}